@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default !important;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #fff;
    background: #000000;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
